# Student Loan Risk with Deep Learning

In [152]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [153]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"
df = pd.read_csv(file_path)

# Review the DataFrame
df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [154]:
df.shape

(1599, 12)

In [155]:
df["credit_ranking"].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: credit_ranking, dtype: int64

In [156]:
# Review the data types associated with the columns
df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [157]:
# Define the target set y using the credit_ranking column
y = df["credit_ranking"]

# Display a sample of y
y[:5]

0    5
1    5
2    5
3    6
4    5
Name: credit_ranking, dtype: int64

In [158]:
# Define features set X by selecting all columns but credit_ranking
X = df.iloc[:,:-1]

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [159]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [160]:
# Create a StandardScaler instance
SS = StandardScaler()

# Fit the scaler to the features training dataset
SS.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = SS.transform(X_train)
X_test_scaled = SS.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [161]:
# Define the the number of inputs (features) to the model
num_inputs = 11

# Review the number of features
num_inputs

11

In [162]:
# Define the number of neurons in the output layer
out_layer = 1

In [163]:
# Define the number of hidden nodes for the first hidden layer
hidden1 = 8

# Review the number hidden nodes in the first layer
hidden1

8

In [164]:
# Define the number of hidden nodes for the second hidden layer
hidden2 = 4

# Review the number hidden nodes in the second layer
hidden2

4

In [165]:
# Create the Sequential model instance
nn = Sequential()

In [166]:
# Add the first hidden layer
nn.add(Dense(units=hidden1,activation="relu",input_dim=num_inputs))

In [167]:
# Add the second hidden layer
nn.add(Dense(units=hidden2,activation="relu"))

In [168]:
# Adding a third hidden layer
#nn.add(Dense(units=3,activation="relu"))

In [169]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=out_layer,activation="linear"))

In [170]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_19 (Dense)            (None, 8)                 96

 dense_20 (Dense)            (None, 4)                 36

 dense_21 (Dense)            (None, 1)                 5

=================================================================
Total params: 137 (548.00 Byte)
Trainable params: 137 (548.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [171]:
# Compile the Sequential model
nn.compile(loss="mean_squared_error",optimizer="adam",metrics=["mse"])

In [172]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
38/38 [==============================] - 1s 812us/step - loss: 31.0002 - mse: 31.0002
Epoch 2/100
38/38 [==============================] - 0s 757us/step - loss: 26.6287 - mse: 26.6287
Epoch 3/100
38/38 [==============================] - 0s 730us/step - loss: 22.1157 - mse: 22.1157
Epoch 4/100
38/38 [==============================] - 0s 730us/step - loss: 17.3875 - mse: 17.3875
Epoch 5/100
38/38 [==============================] - 0s 703us/step - loss: 12.8984 - mse: 12.8984
Epoch 6/100
38/38 [==============================] - 0s 730us/step - loss: 9.2346 - mse: 9.2346
Epoch 7/100
38/38 [==============================] - 0s 730us/step - loss: 6.7407 - mse: 6.7407
Epoch 8/100
38/38 [==============================] - 0s 730us/step - loss: 5.2350 - mse: 5.2350
Epoch 9/100
38/38 [==============================] - 0s 703us/step - loss: 4.2959 - mse: 4.2959
Epoch 10/100
38/38 [==============================] - 0s 730us/step - loss: 3.6418 - mse: 3.6418
Epoch 11/100
38/38 [==============================] - 0s 703us/step - loss: 3.1486 - mse: 3.1486
Epoch 12/100
38/38 [==============================] - 0s 716us/step - loss: 2.7729 - mse: 2.7729
Epoch 13/100
38/38 [==============================] - 0s 703us/step - loss: 2.4733 - mse: 2.4733
Epoch 14/100
38/38 [==============================] - 0s 730us/step - loss: 2.2150 - mse: 2.2150
Epoch 15/100
38/38 [==============================] - 0s 730us/step - loss: 1.9954 - mse: 1.9954
Epoch 16/100
38/38 [==============================] - 0s 730us/step - loss: 1.8297 - mse: 1.8297
Epoch 17/100
38/38 [==============================] - 0s 703us/step - loss: 1.6922 - mse: 1.6922
Epoch 18/100
38/38 [==============================] - 0s 730us/step - loss: 1.5722 - mse: 1.5722
Epoch 19/100
38/38 [==============================] - 0s 730us/step - loss: 1.4681 - mse: 1.4681
Epoch 20/100
38/38 [==============================] - 0s 730us/step - loss: 1.3748 - mse: 1.3748
Epoch 21/100
38/38 [==============================] - 0s 730us/step - loss: 1.2902 - mse: 1.2902
Epoch 22/100
38/38 [==============================] - 0s 784us/step - loss: 1.2149 - mse: 1.2149
Epoch 23/100
38/38 [==============================] - 0s 757us/step - loss: 1.1438 - mse: 1.1438
Epoch 24/100
38/38 [==============================] - 0s 785us/step - loss: 1.0810 - mse: 1.0810
Epoch 25/100
38/38 [==============================] - 0s 730us/step - loss: 1.0223 - mse: 1.0223
Epoch 26/100
38/38 [==============================] - 0s 730us/step - loss: 0.9703 - mse: 0.9703
Epoch 27/100
38/38 [==============================] - 0s 730us/step - loss: 0.9219 - mse: 0.9219
Epoch 28/100
38/38 [==============================] - 0s 730us/step - loss: 0.8778 - mse: 0.8778
Epoch 29/100
38/38 [==============================] - 0s 757us/step - loss: 0.8413 - mse: 0.8413
Epoch 30/100
38/38 [==============================] - 0s 757us/step - loss: 0.8087 - mse: 0.8087
Epoch 31/100
38/38 [==============================] - 0s 757us/step - loss: 0.7753 - mse: 0.7753
Epoch 32/100
38/38 [==============================] - 0s 703us/step - loss: 0.7444 - mse: 0.7444
Epoch 33/100
38/38 [==============================] - 0s 703us/step - loss: 0.7200 - mse: 0.7200
Epoch 34/100
38/38 [==============================] - 0s 730us/step - loss: 0.6937 - mse: 0.6937
Epoch 35/100
38/38 [==============================] - 0s 757us/step - loss: 0.6721 - mse: 0.6721
Epoch 36/100
38/38 [==============================] - 0s 730us/step - loss: 0.6549 - mse: 0.6549
Epoch 37/100
38/38 [==============================] - 0s 730us/step - loss: 0.6341 - mse: 0.6341
Epoch 38/100
38/38 [==============================] - 0s 730us/step - loss: 0.6169 - mse: 0.6169
Epoch 39/100
38/38 [==============================] - 0s 730us/step - loss: 0.6011 - mse: 0.6011
Epoch 40/100
38/38 [==============================] - 0s 730us/step - loss: 0.5849 - mse: 0.5849
Epoch 41/100
38/38 [==============================] - 0s 730us/step - loss: 0.5727 - mse: 0.5727
Epoch 42/100
38/38 [==============================] - 0s 757us/step - loss: 0.5595 - mse: 0.5595
Epoch 43/100
38/38 [==============================] - 0s 730us/step - loss: 0.5490 - mse: 0.5490
Epoch 44/100
38/38 [==============================] - 0s 703us/step - loss: 0.5376 - mse: 0.5376
Epoch 45/100
38/38 [==============================] - 0s 730us/step - loss: 0.5295 - mse: 0.5295
Epoch 46/100
38/38 [==============================] - 0s 730us/step - loss: 0.5194 - mse: 0.5194
Epoch 47/100
38/38 [==============================] - 0s 703us/step - loss: 0.5134 - mse: 0.5134
Epoch 48/100
38/38 [==============================] - 0s 703us/step - loss: 0.5101 - mse: 0.5101
Epoch 49/100
38/38 [==============================] - 0s 730us/step - loss: 0.4985 - mse: 0.4985
Epoch 50/100
38/38 [==============================] - 0s 703us/step - loss: 0.4922 - mse: 0.4922
Epoch 51/100
38/38 [==============================] - 0s 730us/step - loss: 0.4855 - mse: 0.4855
Epoch 52/100
38/38 [==============================] - 0s 703us/step - loss: 0.4830 - mse: 0.4830
Epoch 53/100
38/38 [==============================] - 0s 703us/step - loss: 0.4753 - mse: 0.4753
Epoch 54/100
38/38 [==============================] - 0s 730us/step - loss: 0.4722 - mse: 0.4722
Epoch 55/100
38/38 [==============================] - 0s 703us/step - loss: 0.4683 - mse: 0.4683
Epoch 56/100
38/38 [==============================] - 0s 730us/step - loss: 0.4636 - mse: 0.4636
Epoch 57/100
38/38 [==============================] - 0s 730us/step - loss: 0.4600 - mse: 0.4600
Epoch 58/100
38/38 [==============================] - 0s 730us/step - loss: 0.4570 - mse: 0.4570
Epoch 59/100
38/38 [==============================] - 0s 703us/step - loss: 0.4555 - mse: 0.4555
Epoch 60/100
38/38 [==============================] - 0s 730us/step - loss: 0.4510 - mse: 0.4510
Epoch 61/100
38/38 [==============================] - 0s 730us/step - loss: 0.4465 - mse: 0.4465
Epoch 62/100
38/38 [==============================] - 0s 757us/step - loss: 0.4445 - mse: 0.4445
Epoch 63/100
38/38 [==============================] - 0s 730us/step - loss: 0.4431 - mse: 0.4431
Epoch 64/100
38/38 [==============================] - 0s 703us/step - loss: 0.4394 - mse: 0.4394
Epoch 65/100
38/38 [==============================] - 0s 730us/step - loss: 0.4374 - mse: 0.4374
Epoch 66/100
38/38 [==============================] - 0s 730us/step - loss: 0.4357 - mse: 0.4357
Epoch 67/100
38/38 [==============================] - 0s 730us/step - loss: 0.4341 - mse: 0.4341
Epoch 68/100
38/38 [==============================] - 0s 703us/step - loss: 0.4320 - mse: 0.4320
Epoch 69/100
38/38 [==============================] - 0s 676us/step - loss: 0.4290 - mse: 0.4290
Epoch 70/100
38/38 [==============================] - 0s 730us/step - loss: 0.4282 - mse: 0.4282
Epoch 71/100
38/38 [==============================] - 0s 703us/step - loss: 0.4256 - mse: 0.4256
Epoch 72/100
38/38 [==============================] - 0s 730us/step - loss: 0.4244 - mse: 0.4244
Epoch 73/100
38/38 [==============================] - 0s 730us/step - loss: 0.4227 - mse: 0.4227
Epoch 74/100
38/38 [==============================] - 0s 757us/step - loss: 0.4223 - mse: 0.4223
Epoch 75/100
38/38 [==============================] - 0s 730us/step - loss: 0.4200 - mse: 0.4200
Epoch 76/100
38/38 [==============================] - 0s 730us/step - loss: 0.4172 - mse: 0.4172
Epoch 77/100
38/38 [==============================] - 0s 703us/step - loss: 0.4162 - mse: 0.4162
Epoch 78/100
38/38 [==============================] - 0s 730us/step - loss: 0.4155 - mse: 0.4155
Epoch 79/100
38/38 [==============================] - 0s 730us/step - loss: 0.4155 - mse: 0.4155
Epoch 80/100
38/38 [==============================] - 0s 730us/step - loss: 0.4121 - mse: 0.4121
Epoch 81/100
38/38 [==============================] - 0s 703us/step - loss: 0.4111 - mse: 0.4111
Epoch 82/100
38/38 [==============================] - 0s 703us/step - loss: 0.4128 - mse: 0.4128
Epoch 83/100
38/38 [==============================] - 0s 676us/step - loss: 0.4104 - mse: 0.4104
Epoch 84/100
38/38 [==============================] - 0s 730us/step - loss: 0.4099 - mse: 0.4099
Epoch 85/100

38/38 [==============================] - 0s 703us/step - loss: 0.4100 - mse: 0.4100
Epoch 86/100
38/38 [==============================] - 0s 703us/step - loss: 0.4078 - mse: 0.4078
Epoch 87/100
38/38 [==============================] - 0s 730us/step - loss: 0.4062 - mse: 0.4062
Epoch 88/100
38/38 [==============================] - 0s 703us/step - loss: 0.4071 - mse: 0.4071
Epoch 89/100
38/38 [==============================] - 0s 730us/step - loss: 0.4049 - mse: 0.4049
Epoch 90/100
38/38 [==============================] - 0s 730us/step - loss: 0.4035 - mse: 0.4035
Epoch 91/100
38/38 [==============================] - 0s 707us/step - loss: 0.4048 - mse: 0.4048
Epoch 92/100
38/38 [==============================] - 0s 703us/step - loss: 0.4030 - mse: 0.4030
Epoch 93/100
38/38 [==============================] - 0s 703us/step - loss: 0.4043 - mse: 0.4043
Epoch 94/100
38/38 [==============================] - 0s 730us/step - loss: 0.4021 - mse: 0.4021
Epoch 95/100
38/38 [==============================] - 0s 730us/step - loss: 0.4011 - mse: 0.4011
Epoch 96/100
38/38 [==============================] - 0s 703us/step - loss: 0.4004 - mse: 0.4004
Epoch 97/100
38/38 [==============================] - 0s 757us/step - loss: 0.3995 - mse: 0.3995
Epoch 98/100
38/38 [==============================] - 0s 703us/step - loss: 0.4000 - mse: 0.4000
Epoch 99/100
38/38 [==============================] - 0s 730us/step - loss: 0.3994 - mse: 0.3994
Epoch 100/100
38/38 [==============================] - 0s 730us/step - loss: 0.3975 - mse: 0.3975

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [173]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss,model_accuracy = nn.evaluate(X_test_scaled,y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 [==============================] - 0s 751us/step - loss: 0.4110 - mse: 0.4110
Loss: 0.41095733642578125, Accuracy: 0.41095733642578125

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [174]:
# Set the model's file path
file_path = Path("saved_models/student_loans.h5")

# Export your model to a HDF5 file
nn.save(file_path)

C:\Users\yeti4\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [175]:
# Set the model's file path
file_path = Path("saved_models/student_loans.h5")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data.

In [176]:
# Make predictions on the testing data
predictions = nn_imported.predict(X_test_scaled).round().astype("int32")

13/13 [==============================] - 0s 500us/step

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [177]:
# Create a DataFrame to compare the predictions with the actual values
df_pred = pd.DataFrame({"predictions":predictions.ravel(),"actual":y_test})

### Step 4: Display a sample of the DataFrame you created in step 3.

In [178]:
# Display sample data
df_pred.head(10)

      predictions  actual
75              6       5
1283            5       6
408             6       6
1281            6       6
1118            6       6
1143            6       6
1215            6       6
181             5       5
1186            6       5
1252            5       5